.navContainer{
    position: fixed;
    height: 3rem;
    background-color: lavenderblush;
    width: 100vw;
    z-index: 1;
}

.navUl{
    display: flex;
    justify-content: center;
    transition: transform 0.3s;
    /* align-items: center; */
}

.navUl>li{
    font-size: 1.5rem;
    list-style: none;
    flex-grow: 2;
    cursor: pointer;
    text-align: center;
    /* transition: font-size 0.5s; */
    
}

li:hover{
    transform: scale(1.3);
    color: cornflowerblue;
}







































