.cartItemContainer {
  position: absolute;
  top: 3rem;
  right: 0;
  animation: cartFadeIn 0.9s forwards;
  height: 92vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  width: 30vw;
  border-radius: 1rem;
  background-color: aliceblue;
  opacity: 0;
  /*Start with opacity 0 to make it invisible initially */
  animation: cartFadeIn 0.9s forwards;
  /* Apply the animation */
}

/* Define the animation keyframes */
@keyframes cartFadeIn {
  0% {
    opacity: 0;
    transform: translateX(100%);
    /* Start from the left side */
  }

  100% {
    opacity: 1;
    transform: translateX(0);
    /* Move to the original position */
  }
}

.eachItemOnCart{
  padding: 0 3rem 3rem 3rem;
  overflow: auto;
}